################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto Livro De Receitas
/bin/Debug/net8.0
/obj
